html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "dejavu sans", sans-serif;
	height: 100%;
	-webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,255,0.4);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,255,0.2);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,255,0.5);
}

button {
	border-radius: 3px;
    padding: 0.5rem 1rem;
	border: 1px solid #ccc;
	background-color: #ddd;
	cursor: pointer;
	transition: background-color 0.1s ease;
}

#main {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}
#main > header {
	flex: 0 0 auto;
}
#main.empty #emptyMessage {
    display: block;
}
#main.empty #gitModules {
    display: none;
}

#loadingImage {
	display: none;
	margin-top: -25px;
	margin-left: -25px;
	position: absolute;
	top: 50%;
	left: 50%;
}
#loadingImage.visible {
    display: block;
}

#emptyMessage {
	text-align: center;
	margin: 1rem auto;
	display: none;
}
#emptyMessage button {
    font-size: 1.5rem;
}
#emptyMessage button:hover {
    background-color: #d3d3d3;
}

.file {
	border: 2px solid #ddd;
	border-radius: 6px;
	margin: 0 0.2rem 0.2rem 0;
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 auto;
	min-height: 8rem;
	max-height: 90vh;
	overflow: hidden;
	transition: border-color 0.1s ease;
}
.file.collapsed .lineRow:nth-child(n+11) {
	display: none;
}
.file:only-child {
	margin: 0;
}
.file:hover {
	border: 2px solid rgba(0, 0, 255, 0.4);
}
.file.selected {
	border: 2px solid rgb(0, 0, 255);
}
.file > label {
	font-family: "liberation mono", "dejavu sans mono", monospace;
	display: block;
	background: #eee;
	padding: 0.3rem;
	flex: 0 0 auto;
	white-space: nowrap;
	overflow: hidden;
}
.fileName {
	font-weight: bold;
	cursor: pointer;
	margin-right: 0.5rem;
}
.fileName:hover {
	text-decoration: underline;
}
.fileStatus {
	margin-right: 0.5rem;
	font-weight: bold;
}
.fileStatus.deleted {
	color: red;
}
.fileStatus.modified {
	color: blue;
}
.fileStatus.new {
	color: #299C0F;
}
.file .fileTypeLabel {
	color: blue;
	font-weight: bold;
	margin: 0.5rem 0;
}
.file .summary {
	color: #333;
	margin: 0.5rem 0;
	white-space: pre;
}

.fileDiffContents {
	overflow: auto;
	font-family: "liberation mono", "dejavu sans mono", monospace;
	flex: 1 1 auto;
	margin: 0;
	-webkit-user-select: initial;
	tab-size: 4;
}
.fileDiff {
	width: 100%;
	border: 0;
	border-collapse: collapse;
}
.range {
	border-bottom: 1px dotted #777;
}
.range:last-of-type {
	border-bottom: 0;
}
.range:hover {
	background-color: #F8F5EC;
}
.fileDiff .lineRow {
	white-space: pre;
	transition: background-color 0.05s ease;
}
.fileDiff .lineRow:hover,
.fileDiff .lineRow:hover .line {
	background-color: #f6e8b5;
}
.line {
	width: 20px;
	padding: 0.3rem;
	color: #666;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #f5f5f5;
	padding: 0 0.2rem;
	text-align: right;
	cursor: default;
	-webkit-user-select: none;
}
.fileDiff .deleted {
	background-color: #ffdddd;
}
.fileDiff .added {
	background-color: #ddffdd;
}
.fileDiff .added .line,
.fileDiff .neutral .line {
	cursor: pointer;
}
.fileDiff .added .line:hover,
.fileDiff .neutral .line:hover {
	text-decoration: underline;
}
.fileDiff .comment {
	color: gray;
}
.fileDiff .keyword {
	color: blue;
}
.fileDiff .string {
	color: chocolate;
}
.fileDiff .conflict {
	color: orange;
	font-weight: bold;
}
.diffExpanderRow {
	border-top: 1px solid #ddd;
}
.diffExpander {
	cursor: pointer;
	color: #00f;
}
.diffExpander:hover {
	text-decoration: underline;
}

#gitModules {
	display: flex;
	flex-flow: row nowrap;
	flex: 0 0 auto;
	list-style-type: none;
	margin: 0.5rem 0 0 0;
	padding: 0 0.5rem;
	border-bottom: 1px solid gray;
}
#gitModules > li {
	font-family: "liberation mono", "dejavu sans mono", monospace;
	flex: 1 1 auto;
	margin: 0 0.5rem 0 0;
	padding: 0.5rem 1rem 0.3rem 30px;
	background-color: #ccc;
	background-image: url(icons/folder.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	border: 1px solid gray;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
	position: relative;
	top: 1px;
	transition: background-color 0.1s ease;
	overflow: hidden;
}
#gitModules > li:focus {
	outline: 0;
}
#gitModules > li:hover {
	background-color: #ddd;
}
#gitModules > li.visible {
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

.module {
	display: none;
	flex: 1 1 auto;
	margin: 0.5rem;
}
.moduleContents {
	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 auto;
}
.leftColumn {
	display: flex;
	overflow: auto;
	flex-flow: column nowrap;
	flex: 0 0 auto;
	min-width: 180px;
	max-width: 30vw;
	margin-right: 0.5rem;
	border: 1px solid gray;
	border-radius: 6px;
	cursor: default;
}
.filesDiff {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 auto;
	overflow: auto;
	position: relative;
}
.filesDiff:empty {
	border: 1px solid gray;
	border-radius: 6px;
}
.filesDiff::-webkit-scrollbar {
    width: 12px;
	height: 12px;
}
.module.visible {
	display: flex;
	flex-flow: column nowrap;
}
.module > header {
	margin: 0 0.5rem 0.5rem 0.5rem;
	flex: 0 0 auto;
	-webkit-user-select: initial;
}
.fileListTitle {
	min-height: 16px;
	font-size: 1rem;
	padding: 0.3rem 0.5rem 0.2rem 0.5rem;
	border-radius: 6px 6px 0 0;
	margin: 0.5rem 0 0 0;
	flex: 0 0 auto;
}
.module h2:first-child {
	margin-top: 0;
}
.unstagedTitle,
.file.unstaged > label {
	background-color: rgba(255, 0, 0, 0.3);
}
.stagedTitle,
.file.staged > label {
	background-color: rgba(26,152,4, 0.5);
}
.fileListTitle.stagedTitle {
	border-radius: 0;
}
.fileListTitleButton {
	float: right;
	margin-left: 0.5rem;
	width: 16px;
	height: 16px;
	padding: 0;
	border: 0;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: transparent;
}
.fileList {
	min-height: 10vh;
	list-style-type: none;
	margin: 0;
	padding: 0;
	flex: 1 1 auto;
	overflow: auto;
}
.fileList > li {
	font-family: "liberation mono", "dejavu sans mono", monospace;
	margin: 0;
	padding: 0.5rem 0.5rem 0.5rem 25px;
	transition: background-color 0.05s ease;
	background-repeat: no-repeat;
	background-position: 2px center;
	line-height: 100%;
}
.fileList > li:hover {
	background-color: rgba(101,118,246, 0.3);
}
.fileList > li.selected {
	background-color: rgba(101,118,246, 0.5);
}
.file-new {
	background-image: url(icons/file-new.png);
}
.file-modified {
	background-image: url(icons/file-modified.png);
}
.file-deleted {
	background-image: url(icons/file-deleted.png);
}
.submodule-new {
	background-image: url(icons/submodule-new.png);
}
.submodule-modified {
	background-image: url(icons/submodule-modified.png);
}
.submodule-deleted {
	background-image: url(icons/submodule-deleted.png);
}
.controls {
	display: flex;
	flex-flow: column nowrap;
	font-size: 0.9rem;
	flex: 0 0 auto;
	padding: 0.5rem;
	margin-top: 0.5rem;
	border-top: 1px solid gray;
}
.commitOption {
	vertical-align: middle;
	margin: 0 0.3rem 0 0;
}
.commitOptionLabel {
	flex: 1 1 auto;
	padding: 0 0.5rem;
}
.controlPanel {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 auto;
}
.controlPanel > button {
	flex: 1 1 auto;
	padding: 0.3rem 0.5rem 0.3rem 27px;
}
.controlPanel > button {
	border-radius: 3px;
	border: 1px solid #ccc;
	background-color: #ddd;
	background-position: 2px center;
	background-repeat: no-repeat;
	cursor: pointer;
	margin: 0.2rem;
	transition: background-color 0.05s ease;
}
.controlPanel > button:hover {
	background-color: #d3d3d3;
}
.stageButton {
	background-image: url(icons/stage16.png);
}
.unstageButton {
	background-image: url(icons/unstage16.png);
}
.commitButton {
	background-image: url(icons/commit.png);
}
.pushButton {
	background-image: url(icons/push.png);
}
.commitMessage {
	width: 100%;
	height: 50px;
	margin: 0.5rem 0;
	flex: 1 1 auto;
	font-family: sans-serif;
	box-sizing: border-box;
	padding: 0.5rem;
	resize: none;
	border-radius: 3px;
	border: 1px solid #ccc;
	transition: height 0.1s ease;
}
.commitMessage:focus {
	outline: 0;
	height: 100px;
}
