html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "dejavu sans", sans-serif;
	height: 100%;
	-webkit-user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
	height: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,255,0.4);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,255,0.2);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0,0,255,0.5);
}

#main {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
}
#main > header {
	overflow: auto;
	flex: 0 0 auto;
}

.file {
	border: 2px solid #ddd;
	border-radius: 6px;
	margin: 0.2rem;
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 auto;
	min-height: 10rem;
}
.file:hover {
	border: 2px solid rgba(0, 0, 255, 0.4);
}
.file.selected {
	border: 2px solid rgb(0, 0, 255);
	min-height: 15rem;
	min-width: 20rem;
}
.file > label {
	display: block;
	font-size: 0.9rem;
	background: #eee;
	padding: 0.3rem;
	border-radius: 6px 6px 0 0;
	flex: 0 0 auto;
	white-space: nowrap;
	overflow: hidden;
}
.file .fileName {
	font-weight: bold;
	cursor: pointer;
	margin-right: 1rem;
}
.file .fileName:hover {
	text-decoration: underline;
}
.file .fileStatus {
	margin-right: 1rem;
}
.file .status {
	margin-left: 1rem;
}
.file .status.deleted {
	color: red;
}
.file .status.modified {
	color: blue;
}
.file .status.new {
	color: #4f8044;
}
.file .emptyLabel {
	color: blue;
	font-weight: bold;
	margin: 0.5rem 0;
}

.fileDiffContents {
	overflow: auto;
	font-family: "dejavu sans mono", monospace;
	font-size: 1rem;
	flex: 1 1 20%;
	margin: 0 0.2rem 0.2rem 0.2rem;
	-webkit-user-select: initial;
	tab-size: 4;
}
.fileDiff {
	width: 100%;
	border: 0;
	border-collapse: collapse;
}
.range {
	border-bottom: 1px dotted #ccc;
}
.range:last-child {
	border-bottom: 0;
}
.fileDiff .lineRow {
	white-space: pre;
	transition: background-color 0.05s linear;
}
.fileDiff .lineRow:hover,
.fileDiff .lineRow:hover .line {
	background-color: #f6e8b5;
}
.line {
	width: 20px;
	padding: 0.3rem;
	color: #666;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background-color: #f5f5f5;
	padding: 0 0.2rem;
	text-align: right;
	cursor: default;
	-webkit-user-select: none;
}
.fileDiff .deleted {
	background-color: #ffdddd;
}
.fileDiff .added {
	background-color: #ddffdd;
}
.fileDiff .added .line,
.fileDiff .neutral .line {
	cursor: pointer;
}
.fileDiff .added .line:hover,
.fileDiff .neutral .line:hover {
	text-decoration: underline;
}
.fileDiff .comment {
	color: gray;
}
.fileDiff .keyword {
	color: blue;
}
.fileDiff .string {
	color: chocolate;
}

#gitModules {
	list-style-type: none;
	margin: 0.5rem 0 0 0;
	padding: 0 0.5rem;
	border-bottom: 1px solid gray;
	flex: 0 0 auto;
}
#gitModules > li {
	display: inline-block;
	margin: 0 0.5rem 0 0;
	padding: 0.3rem 1rem;
	background: #ccc;
	border: 1px solid gray;
	border-radius: 6px 6px 0 0;
	cursor: pointer;
	position: relative;
	top: 1px;
	transition: background-color 0.1s linear;
}
#gitModules > li:focus {
	outline: 0;
}
#gitModules > li:hover {
	background: #ddd;
}
#gitModules > li.visible {
	border-bottom: 1px solid #fff;
	background: #fff;
}

.module {
	display: none;
	flex: 1 1 auto;
	margin: 0.5rem;
}
.moduleContents {
	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 auto;
}
.leftColumn {
	display: flex;
	overflow: auto;
	flex-flow: column nowrap;
	flex: 0 0 auto;
	min-width: 180px;
	margin-right: 0.5rem;
	border: 1px solid gray;
	border-radius: 6px;
	cursor: default;
}
.filesDiff {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 auto;
	border: 1px solid gray;
	border-radius: 6px;
	overflow: auto;
}
.module.visible {
	display: flex;
	flex-flow: column nowrap;
}
.module > header {
	margin: 0 0.5rem 0.5rem 0.5rem;
	flex: 0 0 auto;
	-webkit-user-select: initial;
}
.module h1.title {
	font-size: 1.2rem;
	margin: 0;
	padding: 0.5rem;
}
.fileListTitle {
	font-size: 1rem;
	padding: 0.3rem 0.5rem;
	border-radius: 6px 6px 0 0;
	margin: 0.5rem 0 0 0;
	flex: 0 0 auto;
}
.module h2:first-child {
	margin-top: 0;
}
.unstagedTitle,
.file.unstaged > label {
	background-color: rgba(255, 0, 0, 0.3);
}
.stagedTitle,
.file.staged > label {
	background-color: rgba(26,152,4, 0.5);
}
.fileListTitle.stagedTitle {
	border-radius: 0;
}
.fileList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	flex: 1 0 auto;
	overflow: auto;
}
.fileList > li {
	margin: 0;
	height: 20px;
	padding: 0.2rem 0.5rem 0.2rem 25px;
	transition: background-color 0.05s linear;
	background-repeat: no-repeat;
	background-position: 2px center;
}
.fileListItemLabel {
	display: block;
	margin-top: 3px;
}
.fileList > li:hover {
	background-color: rgba(101,118,246, 0.3);
}
.fileList > li.selected {
	background-color: rgba(101,118,246, 0.5);
}
.file-new {
	background-image: url(icons/file-new.png);
}
.file-modified {
	background-image: url(icons/file-modified.png);
}
.file-deleted {
	background-image: url(icons/file-deleted.png);
}
.submodule-new {
	background-image: url(icons/submodule-new.png);
}
.submodule-modified {
	background-image: url(icons/submodule-modified.png);
}
.submodule-deleted {
	background-image: url(icons/submodule-deleted.png);
}
.controls {
	display: flex;
	flex-flow: column nowrap;
	font-size: 0.9rem;
	flex: 0 0 auto;
	padding: 0.5rem;
	margin-top: 0.5rem;
	border-top: 1px solid gray;
}
.commitOption {
	vertical-align: middle;
	margin: 0 0.3rem 0 0;
}
.controlPanel {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 auto;
}
.controlPanel > button,
.commitOptionLabel {
	flex: 1 1 auto;
	padding: 0 0.5rem;
}
.controlPanel > button {
	border-radius: 3px;
	border: 1px solid #ccc;
	background-color: #ddd;
	cursor: pointer;
	margin: 0.2rem;
	transition: background-color 0.05s linear;
}
.controlPanel > button:hover {
	background-color: #d3d3d3;
}
.commitMessage {
	width: 100%;
	height: 50px;
	margin: 0.5rem 0;
	flex: 1 1 auto;
	font-family: sans-serif;
	box-sizing: border-box;
	padding: 0.5rem;
	resize: none;
	border-radius: 3px;
	border: 1px solid #ccc;
	transition: height 0.1s ease;
}
.commitMessage:focus {
	outline: 0;
	height: 120px;
}
